body {
  margin: 0;
  padding: 0;
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
}

input {
  font-family: inherit;
}

* {
  box-sizing: border-box;
}

#root {
  height: 100vh;
  overflow: hidden;
}

.button-group button, .button-group select {
  height: 28px;
  min-width: 80px;
  --uno: text-kettext hover:text-ket hover:bg-[#f6fafd] bg-white border-none transition-all duration-300 p-1 cursor-pointer rounded;
}

.button-group select option {
  --uno: text-black bg-white;
}

#smiles-input {
  --uno: text-kettext;
}

.ketcher-search {
  display: flex;
  align-items: center;
  flex: 1;
  min-width: 0;
  height: 24px;
  border-radius: 4px;
  gap: 4px;
  padding: 4px;
  border: none;
  outline: 1px solid transparent;
  background: #EFF2F5;
  transition: outline-color 300ms ease;
}

.ketcher-search:hover {
  outline-color: #167782;
}

.ketcher-search:focus-within {
  outline-color: #167782;
}

.ketcher-search:focus-within .ketcher-search__icon {
  color: #167782;
}

.ketcher-search__icon {
  width: 16px;
  height: 16px;
  padding-left: 0;
  padding-right: 0;
  color: #167782;
  flex: 0 0 auto;
}

.ketcher-search__input {
  border: none;
  outline: none;
  background: transparent;
  height: 100%;
  width: 100%;
  min-width: 0;
  font-size: 12px;
  font-weight: 400;
  color: #000000;
}

.ketcher-search__input::placeholder {
  color: #757575;
  opacity: 1;
}

